.random{
    color: white;
}
.h1-base{
    color: white;
    text-align: center;
    width: auto;
    margin: 18px;
}
.card-body{
    background-color: #F0F0F0;
}
.pagination{
    margin: 10px;
    padding: 10px;
    font-weight: 16px;
    color: white;
}
.pagination a{
    text-decoration: None;
    margin: 10px;
    font-size: 16px;
}
.check-form{
    margin-left: 30px;
}
