.header-link{
    text-decoration: none;
}
.random{
    color: white;
}
.body-bg{
    background-color: #12343b;
}
.navbar-bg{
    background-color:  #33363b;
}
.h1-base{
    color: white;
    text-align: center;
    width: auto;
    margin: 18px;
}
.card-body{
    background-color: #F0F0F0;
}
.pagination{
    margin: 10px;
    padding: 10px;
    font-weight: 16px;
    color: white;
}
.pagination a{
    text-decoration: None;
    margin: 10px;
    font-size: 16px;
}
.check-form{
    padding: 15px;
    margin-bottom: 15px;
}
.check-form input{
    margin-right: 45px;
}
.navbar-nav li{
    margin-right: 9px;
}
.navbar-nav li a{
    font-weight: bold;
    font-size: 17px;
    color: #a39274;
}