<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous">
        <link rel="stylesheet" href="static/style.css">
    {% block styles %}
        <!-- Bootstrap CSS -->
        {{bootstrap.load_css()}}
    {% endblock %}
        <title>{% block title %} {% endblock %}</title>
    {% endblock %}

</head>
<body class="bg-dark">
    <!-- Page Content -->
    <h3 class="h1-home">The CWB Bin Capstone Project.</h3>
    <!-- Category Menu Nav -->

     <h2>HTML checked Attribute</h2>
    <form class="select_form">
        <!-- Below input elements have attribute "checked" -->
        <input type="checkbox"
               name="check"
               value="1">
        News<br>
        <input type="checkbox"
               name="check"
               value="2"
               checked>
        Politics<br>
        <input type="checkbox"
               name="check"
               value="3">
        Sports<br>
        <input type="checkbox"
               name="check"
               value="4">
        Entertainment<br>
        <input type="checkbox"
               name="check"
               value="5">
        Business<br>
    </form>

    <!--
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active bg-primary" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link bg-info" href="#">Politics</a>
        </li>
        <li class="nav-item">
            <a class="nav-link bg-light" href="#">Business</a>
        </li>
        <li class="nav-item">
            <a class="nav-link bg-secondary" href="#">Sports</a>
        </li>
        <li class="nav-item">
            <a class="nav-link bg-warning" href="#">Entertainment</a>
        </li>
    </ul>-->

    {% block content %}
    {% endblock %}

    {% block scripts %}
        <!-- Optional Javascript -->
        {{bootstrap.load_js()}}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous">
        </script>
    {% endblock %}
</body>
</html>