{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    {% for article in news_headlines %}
        <div class="container">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{article.headline}}</h5>
                        <p class="card-text">{{article.source}} | {{article.date}}</p>
                        <a href="{{article.url}}" class="btn btn-success">Read More...</a>
                        {% if article.category == 'news' %}
                            <a href="{{article.url}}" class="btn btn-primary">News</a>
                        {% elif article.category == 'politics' %}
                            <a href="{{article.url}}" class="btn btn-info">Politics</a>
                        {% elif article.category == 'business' %}
                            <a href="{{article.url}}" class="btn btn-light">Business</a>
                        {% elif article.category == 'sports' %}
                            <a href="{{article.url}}" class="btn btn-secondary">Sports</a>
                        {% elif article.category == 'entertainment'%}
                            <a href="{{article.url}}" class="btn btn-warning">Entertainment</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <br>
    {% endfor %}

    <!--Pagination Here-->
    <div class="pagination">
        {% if page > 1 %}
            <a href="{{ url_for('index', page=page-1) }}" class="btn btn-light">Prev</a>
        {% endif %}
        <h4>Page {{ page }} of {{ total_pages }}</h4>
        {% if page < total_pages %}
            <a href="{{ url_for('index', page=page+1) }}" class="btn btn-light">Next</a>
        {% endif %}
    </div>

{% endblock %}