{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<form class="select_form" method="POST">
    <label class="checkbox-label"><input type="checkbox" name="check" value="news"> News</label><br>
    <label class="checkbox-label"><input type="checkbox" name="check" value="politics"> Politics</label><br>
    <label class="checkbox-label"><input type="checkbox" name="check" value="sports"> Sports</label><br>
    <label class="checkbox-label"><input type="checkbox" name="check" value="entertainment"> Entertainment</label><br>
    <label class="checkbox-label"><input type="checkbox" name="check" value="business"> Business</label><br>
    <input type="submit" value="Filter">
</form>



    <h1 class="h1-home">The CWB Bin Capstone Project.</h1>

    {% for category, articles in news_headlines.items() %}
        <h2>{{ category }}</h2>
        {% for article in articles %}
            <div class="container">
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ article.headline }}</h5>
                            <p class="card-text">{{ article.source }} | {{ article.date }}</p>
                            <a href="{{ article.url }}" class="btn btn-primary bg-success">Read More...</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
    {% endfor %}

    <div class="pagination">
        {% if page > 1 %}
            <a href="{{ url_for('index', page=page-1) }}">Prev</a>
        {% endif %}
        <h4>Page {{ page }} of {{ total_pages }}</h4>
        {% if page < total_pages %}
            <a href="{{ url_for('index', page=page+1) }}">Next</a>
        {% endif %}
    </div>

{% endblock %}
