{% extends 'base.html' %}

{% block content %}
    {% for article in news_cat %}
        <div class="container">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{article.headline}}</h5>
                        <p class="card-text">{{article.source}} | {{article.date}}</p>
                        <a href="{{article.url}}" class="btn btn-success">Read More...</a>
                        {% if key == 'news' %}
                            <a href="{{article.url}}" class="btn btn-primary">News</a>
                        {% elif key == 'politics' %}
                            <a href="{{article.url}}" class="btn btn-info">Politics</a>
                        {% elif key == 'business' %}
                            <a href="{{article.url}}" class="btn btn-light">Business</a>
                        {% elif key == 'sports' %}
                            <a href="{{article.url}}" class="btn btn-secondary">Sports</a>
                        {% elif key == 'entertainment'%}
                            <a href="{{article.url}}" class="btn btn-warning">Entertainment</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    <br>
    {% endfor %}

    <!--Pagination Here-->

{% endblock %}